 /* --- For Hero --- */
.hero{
    display:flex;
    align-items: center;
    /* justify-content: center;     */
    flex-direction:column;
    gap:35px;
    margin: 0px 120px;
}

.hero img{
    margin-top:100px;
    height:220px;
}

.hero h1{
    font-size: 57px;
    text-align: center;
    width:70%;
    font-weight:600;
}

.hero h1 span{
    background: linear-gradient(267deg, #DA7C27 0.36%, #B923E1 100.08%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width:50%;
    text-align: center;
    font-size: 24px;
    line-height: 2.5;
}

.hero-action{
    display:flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:50px;
    gap:22px;
}

.hero-connect{
    padding:20px 40px;
    cursor:pointer;
    background: linear-gradient(267deg, #DA7C27 0.36%, #B923E1 100.08%);
    border-radius: 50px;
}
.connect-icons{
    display:flex;
    gap: 4px;
}

.hero-resume{
    padding:17px 65px;
    border-radius: 50px;
    border:2px solid #fff;
    /* font-size:23px; */
    cursor:pointer;
}
.hero-connect:hover, .hero-resume:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
@media(max-width: 840px) {
    /* .hero{
        margin: 0px 20px;
    } */
    .hero img{
        margin-top: 100px;
        width: 230px;
        height:230px;
    }
    .hero h1{
        margin-top: 40px;
        width:90%;
        font-size: 40px;
        width:100%;
    }
    .hero p{
        width:50%;
        font-size: 18px;
        line-height: 30px;
        margin:10px 0px;
    }
    /* me */
    .hero-action{
        flex-direction: column;
        gap:10px;
    }
    /* .hero-connect{
        padding:15px 30px;
        font-size: 18px;
    } */
}